@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
/*===== 변수  */
/*===== style */
*::-moz-selection {
  background-color: #CDE8E5;
}
*::selection {
  background-color: #CDE8E5;
}

::-webkit-scrollbar {
  display: none;
}

/*===== nav  */
nav .navWrapper {
  z-index: 99999;
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  text-indent: -99999px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
nav .navWrapper li a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #777777;
  background-color: #F6F6F6;
  display: block;
}
nav .navWrapper li a.current {
  background-color: #777777;
}

/*=== header logo*/
header a .logo {
  z-index: 99999;
  position: fixed;
  top: 30px;
  left: 30px;
  height: 100px;
  width: 150px;
}
header a .logo img {
  width: 100%;
}

#fullpage {
  width: 100%;
  height: 100vh;
  /*===== main */
  /*===== togo */
  /*===== products */
  /*===== philosophy */
  /*===== michelDucaroy */
  /*===== ourDesigners */
  /*===== footer */
}
#fullpage .main {
  background-color: #dddddd;
  width: 100%;
  height: 100%;
  /*=== mainGrid */
}
#fullpage .main .mainGrid {
  padding-top: 100px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
}
#fullpage .main .mainGrid .mainGrid_item {
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  border-radius: 25px;
  display: grid;
  place-items: center;
}
#fullpage .main .mainGrid .mainGrid_item img {
  border-radius: 25px;
  width: 80%;
}
#fullpage .main .mainGrid .mainGrid_contents {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row: 2/4;
  grid-column: 4/6;
  text-align: center;
  border: 3px solid #dddddd;
  border-radius: 25px;
  background-color: #F6F6F6;
}
#fullpage .main .mainGrid .mainGrid_contents .contentsTop {
  padding: 2vw 2vw 0 2vw;
  border-bottom: 4px solid #dddddd;
}
#fullpage .main .mainGrid .mainGrid_contents .contentsTop .subTitle {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 25px;
  font-weight: 800;
  color: #222222;
}
#fullpage .main .mainGrid .mainGrid_contents .contentsTop .logo {
  width: 100%;
}
#fullpage .main .mainGrid .mainGrid_contents .contentsTop .logo img {
  width: 100%;
}
#fullpage .main .mainGrid .mainGrid_contents .contentsBottom {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 20px;
  font-weight: 800;
  color: #222222;
}
#fullpage .main .mainGrid .mainGrid_contents .contentsBottom li a {
  position: relative;
}
#fullpage .main .mainGrid .mainGrid_contents .contentsBottom li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #222222;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}
#fullpage .main .mainGrid .mainGrid_contents .contentsBottom li a:hover::after {
  content: "";
  width: 110%;
}
#fullpage .togo {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  display: grid;
  place-items: center;
}
#fullpage .togo .contents .title {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 40px;
  font-weight: 800;
  color: #222222;
  margin-bottom: 50px;
}
#fullpage .togo .contents .text {
  font-family: "SUIT", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 1.5;
  margin-bottom: 150px;
}
#fullpage .togo .contents .togoImg {
  display: flex;
  gap: 100px;
  align-items: center;
}
#fullpage .togo .contents .togoImg .md {
  max-width: 250px;
  min-width: 100px;
}
#fullpage .togo .contents .togoImg .md img {
  width: 100%;
}
#fullpage .togo .contents .togoImg .sm {
  max-width: 220px;
  min-width: 80px;
}
#fullpage .togo .contents .togoImg .sm img {
  width: 100%;
}
#fullpage .products {
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
}
#fullpage .products .textWrapper {
  margin-bottom: 80px;
}
#fullpage .products .textWrapper .title {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 40px;
  font-weight: 800;
  color: #222222;
  padding: 100px 0 15px 0;
}
#fullpage .products .textWrapper .text {
  font-family: "SUIT", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 1.5;
}
#fullpage .products .productCategory {
  justify-content: center;
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
#fullpage .products .productCategory li {
  width: 80px;
}
#fullpage .products .productCategory li a {
  display: block;
  position: relative;
  margin-bottom: 10px;
  height: 80px;
  width: 100%;
}
#fullpage .products .productCategory li a:hover::after {
  content: "";
  width: 93px;
  height: 93px;
  border-radius: 50%;
  border: 3px solid #dddddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#fullpage .products .productCategory li a img {
  border-radius: 50%;
  width: 100%;
}
#fullpage .products .productCategory li p {
  width: 100%;
  text-wrap: nowrap;
  font-family: "SUIT", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 15px;
  font-weight: 800;
  color: #222222;
  line-height: 1.5;
}
#fullpage .products .slideContainer {
  overflow: hidden;
  background-color: #F6F6F6;
}
#fullpage .products .slideContainer .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 4600px;
}
#fullpage .products .slideContainer .slide.left {
  animation: left 55s linear infinite;
}
@keyframes left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2300px);
  }
}
#fullpage .products .slideContainer .slide.right {
  animation: right 55s linear infinite;
}
@keyframes right {
  0% {
    transform: translateX(-2300px);
  }
  100% {
    transform: translateX(0);
  }
}
#fullpage .products .slideContainer .slide li {
  margin: 20px 0;
  max-width: 190px;
  min-width: 100px;
}
#fullpage .products .slideContainer .slide li img {
  width: 100%;
}
#fullpage .philosophy {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#fullpage .philosophy.show .centerItem .textWrapper {
  margin-top: 130vh;
  opacity: 0.6;
}
#fullpage .philosophy.show .productList .card1 {
  margin-top: 1000px;
}
#fullpage .philosophy.show .productList .card2 {
  margin-top: 1000px;
}
#fullpage .philosophy.show .productList .card3 {
  margin-top: 1000px;
}
#fullpage .philosophy.show .productList .card4 {
  margin-top: 1000px;
}
#fullpage .philosophy.show .productList .card5 {
  margin-top: -100px;
  opacity: 0;
}
#fullpage .philosophy.show .productList .card6 {
  margin-left: -100px;
  opacity: 0;
}
#fullpage .philosophy.show .productList .card7 {
  margin: -100px 0 0 -100px;
  opacity: 0;
}
#fullpage .philosophy.show .productList .card8 {
  margin: -100px 0 0 -100px;
  opacity: 0;
}
#fullpage .philosophy.show .productList .card9 {
  margin-top: -300px;
  opacity: 0;
}
#fullpage .philosophy.show .productList .card10 {
  margin-top: -400px;
  opacity: 0;
}
#fullpage .philosophy.show .productList .card11 {
  margin-top: 500px;
  opacity: 0;
}
#fullpage .philosophy .centerItem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#fullpage .philosophy .centerItem .textWrapper {
  transition: 0.7s;
  margin-bottom: 40px;
}
#fullpage .philosophy .centerItem .textWrapper .title {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 40px;
  font-weight: 800;
  color: #222222;
  padding: 100px 0 15px 0;
}
#fullpage .philosophy .centerItem .textWrapper .text {
  font-family: "SUIT", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 1.5;
}
#fullpage .philosophy .centerItem .btn {
  margin-bottom: 100px;
}
#fullpage .philosophy .centerItem .btn a {
  width: 300px;
  height: 50px;
  padding: 15px;
  border-radius: 50px;
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 15px;
  font-weight: 800;
  color: #F6F6F6;
  background-color: #222222;
  color: #F6F6F6;
  display: block;
  box-shadow: 4px 4px 4px rgba(119, 119, 119, 0.1);
  transition: 0.3s;
  border: 1px solid #222222;
}
#fullpage .philosophy .centerItem .btn:hover a {
  background-color: transparent;
  color: #222222;
}
#fullpage .philosophy .productList .card {
  width: 210px;
  border: 1px solid #222222;
  background-color: #F6F6F6;
  border-radius: 25px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: rotate(0deg);
  transition: 0.7s;
}
#fullpage .philosophy .productList .card .imgWrapper {
  padding: 25px;
  width: 100%;
  border-bottom: 1px solid #222222;
}
#fullpage .philosophy .productList .card .imgWrapper img {
  width: 100%;
}
#fullpage .philosophy .productList .card .textWrapper {
  padding: 25px;
  text-align: left;
  margin: 0;
}
#fullpage .philosophy .productList .card .textWrapper .textWrapper {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 13px;
  font-weight: 800;
  color: #222222;
}
#fullpage .philosophy .productList .card .textWrapper .productName {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 13px;
  font-weight: 300;
  color: #222222;
}
#fullpage .philosophy .productList .card1 {
  top: 60%;
  left: 30%;
  transform: rotate(-29deg);
}
#fullpage .philosophy .productList .card2 {
  top: 75%;
  left: 5%;
  transform: rotate(28deg);
}
#fullpage .philosophy .productList .card3 {
  top: 72%;
  left: 55%;
  transform: rotate(11deg);
}
#fullpage .philosophy .productList .card4 {
  top: 10%;
  left: 70%;
  transform: rotate(-11deg);
}
#fullpage .philosophy .productList .card5 {
  top: -10%;
  left: 30%;
  transform: rotate(-9deg);
}
#fullpage .philosophy .productList .card6 {
  top: 20%;
  left: 10%;
  transform: rotate(-30deg);
}
#fullpage .philosophy .productList .card7 {
  top: 10%;
  left: 0%;
  transform: rotate(28deg);
}
#fullpage .philosophy .productList .card8 {
  top: -15%;
  left: 55%;
  transform: rotate(-48deg);
}
#fullpage .philosophy .productList .card9 {
  top: 20%;
  left: 85%;
  transform: rotate(19deg);
}
#fullpage .philosophy .productList .card10 {
  top: 40%;
  left: 90%;
  transform: rotate(-18deg);
}
#fullpage .philosophy .productList .card11 {
  top: 55%;
  left: 73%;
  transform: rotate(29deg);
}
#fullpage .michelDucaroy {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
#fullpage .michelDucaroy.show .mainTextWrapper {
  transform: translateY(0);
  opacity: 1;
}
#fullpage .michelDucaroy.show .btn {
  transform: translateY(0);
  opacity: 1;
}
#fullpage .michelDucaroy.show .productList .card:nth-child(1) {
  opacity: 1;
  transform: translate(0) rotate(0);
}
#fullpage .michelDucaroy.show .productList .card:nth-child(2) {
  opacity: 1;
  transform: translate(0) rotate(0);
}
#fullpage .michelDucaroy.show .productList .card:nth-child(3) {
  opacity: 1;
  transform: translate(0) rotate(0);
}
#fullpage .michelDucaroy.show .productList .card:nth-child(4) {
  opacity: 1;
  transform: translate(0) rotate(0);
}
#fullpage .michelDucaroy .mainTextWrapper {
  transition: 0.5s;
  transform: translateY(-300px);
  opacity: 0;
  margin-bottom: 40px;
}
#fullpage .michelDucaroy .mainTextWrapper .title {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 40px;
  font-weight: 800;
  color: #222222;
  padding: 100px 0 15px 0;
}
#fullpage .michelDucaroy .mainTextWrapper .text {
  font-family: "SUIT", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 1.5;
}
#fullpage .michelDucaroy .btn {
  margin: 0 auto 100px;
  display: grid;
  place-items: center;
  transition: 0.7s;
  transform: translateY(-300px);
  opacity: 0;
}
#fullpage .michelDucaroy .btn a {
  width: 300px;
  height: 50px;
  padding: 15px;
  border-radius: 50px;
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 15px;
  font-weight: 800;
  color: #F6F6F6;
  background-color: #222222;
  color: #F6F6F6;
  display: block;
  box-shadow: 4px 4px 4px rgba(119, 119, 119, 0.1);
  transition: 0.3s;
  border: 1px solid #222222;
}
#fullpage .michelDucaroy .btn a:hover {
  background-color: transparent;
  color: #222222;
}
#fullpage .michelDucaroy .productList {
  display: flex;
  justify-content: center;
  gap: 25px;
}
#fullpage .michelDucaroy .productList .card {
  transition: 0.7s;
  max-width: 250px;
  min-width: 100px;
  border: 1px solid #222222;
  background-color: #F6F6F6;
  border-radius: 25px;
}
#fullpage .michelDucaroy .productList .card:nth-child(1) {
  opacity: 0;
  transform: translate(-550px, -800px) rotate(28deg);
}
#fullpage .michelDucaroy .productList .card:nth-child(2) {
  opacity: 0;
  transform: translate(120px, -800px) rotate(-29deg);
}
#fullpage .michelDucaroy .productList .card:nth-child(3) {
  opacity: 0;
  transform: translate(60px, -800px) rotate(11deg);
}
#fullpage .michelDucaroy .productList .card:nth-child(4) {
  opacity: 0;
  transform: translate(90px, -900px) rotate(-11deg);
}
#fullpage .michelDucaroy .productList .card .imgWrapper {
  padding: 25px;
  width: 100%;
  border-bottom: 1px solid #222222;
}
#fullpage .michelDucaroy .productList .card .imgWrapper img {
  width: 100%;
}
#fullpage .michelDucaroy .productList .card .textWrapper {
  padding: 25px;
  text-align: left;
  margin: 0;
}
#fullpage .michelDucaroy .productList .card .textWrapper .textWrapper {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 13px;
  font-weight: 800;
  color: #222222;
}
#fullpage .michelDucaroy .productList .card .textWrapper .productName {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 13px;
  font-weight: 300;
  color: #222222;
}
#fullpage .ourDesigners {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-color: #F6F6F6;
}
#fullpage .ourDesigners .centerItem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#fullpage .ourDesigners .centerItem .textWrapper {
  margin-bottom: 40px;
}
#fullpage .ourDesigners .centerItem .textWrapper .title {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 40px;
  font-weight: 800;
  color: #222222;
  padding: 100px 0 15px 0;
}
#fullpage .ourDesigners .centerItem .textWrapper .text {
  font-family: "SUIT", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 1.5;
}
#fullpage .ourDesigners .centerItem .btn {
  margin-bottom: 100px;
}
#fullpage .ourDesigners .centerItem .btn a {
  width: 300px;
  height: 50px;
  padding: 15px;
  border-radius: 50px;
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 15px;
  font-weight: 800;
  color: #F6F6F6;
  background-color: #222222;
  color: #F6F6F6;
  display: block;
  box-shadow: 4px 4px 4px rgba(119, 119, 119, 0.1);
  transition: 0.3s;
  border: 1px solid #222222;
}
#fullpage .ourDesigners .centerItem .btn:hover a {
  background-color: transparent;
  color: #222222;
}
#fullpage .ourDesigners .designersList {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0px 20px rgba(119, 119, 119, 0.1);
  height: 3480px;
}
@keyframes top {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(-1740px);
  }
}
@keyframes botton {
  0% {
    transform: translateY(-1740px);
  }
  100% {
    transform: translateX(0);
  }
}
#fullpage .ourDesigners .designersList.left1 {
  left: 0;
  animation: top 55s linear infinite;
}
#fullpage .ourDesigners .designersList.left2 {
  left: 300px;
  animation: botton 55s linear infinite;
}
#fullpage .ourDesigners .designersList.right1 {
  right: 0;
  animation: botton 55s linear infinite;
}
#fullpage .ourDesigners .designersList.right2 {
  right: 300px;
  animation: top 55s linear infinite;
}
#fullpage .ourDesigners .designersList li {
  height: 290px;
}
#fullpage .ourDesigners .designersList li img {
  height: 100%;
}
#fullpage .footer {
  width: 100%;
  height: 100%;
  padding: 150px 0 30px;
  text-align: center;
  background-color: #dddddd;
}
#fullpage .footer .title {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 50px;
  font-weight: 800;
  color: #222222;
  margin-bottom: 20px;
}
#fullpage .footer .text {
  font-family: "SUIT", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 1.5;
  margin-bottom: 50px;
}
#fullpage .footer .btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 80px;
}
#fullpage .footer .btnWrapper .btn {
  display: grid;
  justify-content: center;
}
#fullpage .footer .btnWrapper .btn a {
  width: 300px;
  height: 50px;
  padding: 15px;
  border-radius: 50px;
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 15px;
  font-weight: 800;
  color: #F6F6F6;
  background-color: #F6F6F6;
  color: #222222;
  display: block;
  box-shadow: 4px 4px 4px rgba(119, 119, 119, 0.1);
  transition: 0.3s;
  border: 1px solid #F6F6F6;
}
#fullpage .footer .btnWrapper .btn a:hover {
  background-color: transparent;
}
#fullpage .footer .footerBotton .logo {
  margin: 0 auto 30px;
  width: 150px;
}
#fullpage .footer .footerBotton .logo img {
  width: 100%;
}
#fullpage .footer .footerBotton .linkWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}
#fullpage .footer .footerBotton .linkWrapper li a {
  transition: 0.3s;
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", cursive;
  font-size: 15px;
  font-weight: 500;
  color: #777777;
}
#fullpage .footer .footerBotton .linkWrapper li a:hover {
  color: #222222;
}/*# sourceMappingURL=index.css.map */