// font
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap'); //   font-family: "Radio Canada Big", sans-serif;


// Breakpoints
$breakpoint-mobile: 500px;
$breakpoint-tablet: 1000px;
$breakpoint-desktop: 1390px;

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile + 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}


/*===== 변수  */
$mainColorW: #F6F6F6;
$mainColorB: #777777;
$mainTextColor: #222222;
$bgColor: #dddddd;
$animation: 55s;

@mixin enTitle ($size: 40px, $weight: 800, $color: $mainColorB) {
  font-family: "Radio Canada Big", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', cursive;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin koText ($size: 18px, $weight: 300) {
  font-family: 'SUIT', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', cursive;
  font-size: $size;
  font-weight: $weight;
  color: $mainTextColor;
  line-height: 1.5;
}

@mixin btn ($btnBgColor: $mainColorB, $fontColor: $maniColorW) {
  // max-width: 310px;
  width: 300px;
  height: 50px;
  padding: 15px;
  border-radius: 50px;
  @include enTitle(15px, 800, $mainColorW);
  background-color: $btnBgColor;
  color: $fontColor;
  display: block;
  box-shadow: 4px 4px 4px rgb(119, 119, 119, 0.1);
  transition: 0.3s;
}

/*===== style */

*::selection {
  background-color: #CDE8E5;
}

::-webkit-scrollbar {
  display: none;
}

/*===== nav  */
nav {
  .navWrapper {
    z-index: 99999;
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    text-indent: -99999px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    li {
      a {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $mainColorB;
        background-color: $mainColorW;
        display: block;

        &.current {
          background-color: $mainColorB;
        }
      }
    }
  }
}

/*=== header logo*/
header {
  a {
    .logo {
      z-index: 99999;
      position: fixed;
      top: 30px;
      left: 30px;
      height: 100px;
      width: 150px;

      img {
        width: 100%;
      }
    }
  }
}

#fullpage {
  width: 100%;
  height: 100vh;


  /*===== main */
  .main {
    background-color: $bgColor;
    width: 100%;
    height: 100%;

    /*=== mainGrid */
    .mainGrid {
      padding-top: 100px;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 2px;

      .mainGrid_item {
        width: 100%;
        height: 100%;
        background-color: $mainColorW;
        border-radius: 25px;
        display: grid;
        place-items: center;

        img {
          border-radius: 25px;
          width: 80%;
        }
      }

      .mainGrid_contents {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-row: 2 / 4;
        grid-column: 4 / 6;
        text-align: center;
        border: 3px solid $bgColor;
        border-radius: 25px;
        background-color: $mainColorW;

        .contentsTop {
          padding: 2vw 2vw 0 2vw;
          border-bottom: 4px solid $bgColor;

          .subTitle {
            @include enTitle(25px, 800, $mainTextColor);
          }

          .logo {
            width: 100%;

            img {
              width: 100%;

            }
          }
        }

        .contentsBottom {
          padding: 2vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1vw;
          @include enTitle(20px, 800, $mainTextColor);

          li {
            a {
              position: relative;

              &::after {
                content: "";
                width: 0%;
                height: 2px;
                background-color: #222222;
                position: absolute;
                bottom: -3px;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.2s;
              }
            }

            a:hover {
              &::after {
                content: "";
                width: 110%;
              }
            }
          }
        }
      }
    }
  }


  /*===== togo */
  .togo {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: $bgColor;
    display: grid;
    place-items: center;

    .contents {
      .title {
        @include enTitle(40px, 800, $mainTextColor);
        margin-bottom: 50px;
      }

      .text {
        @include koText(18px, 400);
        margin-bottom: 150px;
      }

      .togoImg {
        display: flex;
        gap: 100px;
        align-items: center;

        .md {
          max-width: 250px;
          min-width: 100px;

          img {
            width: 100%;
          }
        }

        .sm {
          max-width: 220px;
          min-width: 80px;

          img {
            width: 100%;
          }
        }
      }
    }
  }


  /*===== products */
  .products {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;

    .textWrapper {
      margin-bottom: 80px;

      .title {
        @include enTitle(40px, 800, $mainTextColor);
        padding: 100px 0 15px 0;
      }

      .text {
        @include koText(18px, 400);

      }
    }

    .productCategory {
      justify-content: center;
      display: flex;
      gap: 40px;
      margin-bottom: 40px;

      li {
        width: 80px;

        a {
          display: block;
          position: relative;
          margin-bottom: 10px;
          height: 80px;
          width: 100%;

          &:hover {
            &::after {
              content: "";
              width: 93px;
              height: 93px;
              border-radius: 50%;
              border: 3px solid $bgColor;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          img {
            border-radius: 50%;
            width: 100%;
          }
        }

        p {
          width: 100%;
          text-wrap: nowrap;
          @include koText(15px, 800)
        }
      }
    }

    .slideContainer {
      overflow: hidden;
      background-color: $mainColorW;

      .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: calc(230px * 20);

        &.left {
          @keyframes left {
            0% {
              transform: translateX(0);
            }

            100% {
              transform: translateX(calc(-230px * 10))
            }
          }

          animation: left $animation linear infinite;
        }

        &.right {
          @keyframes right {
            0% {
              transform: translateX(calc(-230px * 10))
            }

            100% {
              transform: translateX(0);
            }
          }

          animation: right $animation linear infinite;
        }

        li {
          margin: 20px 0;
          max-width: 190px;
          min-width: 100px;

          img {
            width: 100%;
          }
        }
      }
    }
  }


  /*===== philosophy */
  .philosophy {
    &.show {
      .centerItem {
        .textWrapper {
          margin-top: 130vh;
          opacity: 0.6;
        }
      }

      .productList {
        .card1 {
          margin-top: 1000px;
        }

        .card2 {
          margin-top: 1000px;
        }

        .card3 {
          margin-top: 1000px;
        }

        .card4 {
          margin-top: 1000px;
        }

        .card5 {
          margin-top: -100px;
          opacity: 0;
        }

        .card6 {
          margin-left: -100px;
          opacity: 0;
        }

        .card7 {
          margin: -100px 0 0 -100px;
          opacity: 0;
        }

        .card8 {
          margin: -100px 0 0 -100px;
          opacity: 0;
        }

        .card9 {
          margin-top: -300px;
          opacity: 0;
        }

        .card10 {
          margin-top: -400px;
          opacity: 0;
        }

        .card11 {
          margin-top: 500px;
          opacity: 0;
        }
      }
    }

    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;

    .centerItem {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .textWrapper {
        transition: 0.3s;
        margin-bottom: 40px;

        .title {
          @include enTitle(40px, 800, $mainTextColor);
          padding: 100px 0 15px 0;
        }

        .text {
          @include koText(18px, 400);
        }
      }

      .btn {
        margin-bottom: 100px;

        a {
          @include btn($mainTextColor, $mainColorW);
          border: 1px solid $mainTextColor;
        }

        &:hover {
          a {
            background-color: transparent;
            color: $mainTextColor;
          }
        }
      }
    }

    .productList {
      .card {
        width: 210px;
        // min-width: 100px;
        border: 1px solid $mainTextColor;
        background-color: $mainColorW;
        border-radius: 25px;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: rotate(0deg);
        transition: 0.3s;

        .imgWrapper {
          padding: 25px;
          width: 100%;
          border-bottom: 1px solid $mainTextColor;

          img {
            width: 100%;
          }
        }

        .textWrapper {
          padding: 25px;
          text-align: left;
          margin: 0;

          .textWrapper {
            @include enTitle(13px, 800, $mainTextColor)
          }

          .productName {
            @include enTitle(13px, 300, $mainTextColor)
          }
        }
      }

      .card1 {
        top: 60%;
        left: 30%;
        transform: rotate(-29deg);
      }

      .card2 {
        top: 75%;
        left: 5%;
        transform: rotate(28deg);
      }

      .card3 {
        top: 72%;
        left: 55%;
        transform: rotate(11deg);
      }

      .card4 {
        top: 10%;
        left: 70%;
        transform: rotate(-11deg);
      }

      .card5 {
        top: -10%;
        left: 30%;
        transform: rotate(-9deg);
      }

      .card6 {
        top: 20%;
        left: 10%;
        transform: rotate(-30deg);
      }

      .card7 {
        top: 10%;
        left: 0%;
        transform: rotate(28deg);
      }

      .card8 {
        top: -15%;
        left: 55%;
        transform: rotate(-48deg);
      }

      .card9 {
        top: 20%;
        left: 85%;
        transform: rotate(19deg);
      }

      .card10 {
        top: 40%;
        left: 90%;
        transform: rotate(-18deg);
      }

      .card11 {
        top: 55%;
        left: 73%;
        transform: rotate(29deg);
      }
    }
  }


  /*===== michelDucaroy */
  .michelDucaroy {
    &.show {
      .mainTextWrapper {
        transform: translateY(0);
        opacity: 1;
      }

      .btn {
        transform: translateY(0);
        opacity: 1;
      }

      .productList {
        .card {
          &:nth-child(1) {
            opacity: 1;
            transform: translate(0) rotate(0);
          }

          &:nth-child(2) {
            opacity: 1;
            transform: translate(0) rotate(0);
          }

          &:nth-child(3) {
            opacity: 1;
            transform: translate(0) rotate(0);
          }

          &:nth-child(4) {
            opacity: 1;
            transform: translate(0) rotate(0);
          }
        }
      }
    }

    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;

    .mainTextWrapper {
      transition: 0.5s;
      transform: translateY(-300px);
      opacity: 0;
      margin-bottom: 40px;

      .title {

        @include enTitle(40px, 800, $mainTextColor);
        padding: 100px 0 15px 0;
      }

      .text {
        @include koText(18px, 400);
      }
    }

    .btn {
      margin: 0 auto 100px;
      display: grid;
      place-items: center;
      transition: 0.5s;
      transform: translateY(-300px);
      opacity: 0;

      a {
        @include btn($mainTextColor, $mainColorW);
        border: 1px solid $mainTextColor;
      }

      a {
        &:hover {
          background-color: transparent;
          color: $mainTextColor;
        }
      }
    }

    .productList {
      display: flex;
      justify-content: center;
      gap: 25px;

      .card {
        transition: 0.5s;

        &:nth-child(1) {
          opacity: 0;
          transform: translate(-550px, -800px) rotate(28deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transform: translate(120px, -800px) rotate(-29deg);
        }

        &:nth-child(3) {
          opacity: 0;
          transform: translate(60px, -800px) rotate(11deg);
        }

        &:nth-child(4) {
          opacity: 0;
          transform: translate(90px, -900px) rotate(-11deg);
        }

        max-width: 250px;
        min-width: 100px;
        border: 1px solid $mainTextColor;
        background-color: $mainColorW;
        border-radius: 25px;

        .imgWrapper {
          padding: 25px;
          width: 100%;
          border-bottom: 1px solid $mainTextColor;

          img {
            width: 100%;
          }
        }

        .textWrapper {
          padding: 25px;
          text-align: left;
          margin: 0;

          .textWrapper {
            @include enTitle(13px, 800, $mainTextColor)
          }

          .productName {
            @include enTitle(13px, 300, $mainTextColor)
          }
        }
      }
    }
  }


  /*===== ourDesigners */
  .ourDesigners {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: $mainColorW;

    .centerItem {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .textWrapper {
        margin-bottom: 40px;

        .title {
          @include enTitle(40px, 800, $mainTextColor);
          padding: 100px 0 15px 0;
        }

        .text {
          @include koText(18px, 400);
        }
      }

      .btn {
        margin-bottom: 100px;

        a {
          @include btn($mainTextColor, $mainColorW);
          border: 1px solid $mainTextColor;
        }

        &:hover {
          a {
            background-color: transparent;
            color: $mainTextColor;
          }
        }
      }
    }

    .designersList {
      position: absolute;
      display: flex;
      flex-direction: column;
      box-shadow: 5px 0px 20px rgba(119, 119, 119, 0.1);
      height: calc(290px *12);

      @keyframes top {
        0% {
          transform: translateX(0);
        }

        100% {
          transform: translateY(calc(-290px * 6))
        }
      }

      @keyframes botton {
        0% {
          transform: translateY(calc(-290px * 6))
        }

        100% {
          transform: translateX(0);
        }
      }

      &.left1 {
        left: 0;
        animation: top $animation linear infinite;
      }

      &.left2 {
        left: 300px;
        animation: botton $animation linear infinite;
      }

      &.right1 {
        right: 0;
        animation: botton $animation linear infinite;
      }

      &.right2 {
        right: 300px;
        animation: top $animation linear infinite;
      }

      li {
        height: 290px;

        img {
          height: 100%;
        }
      }
    }

  }


  /*===== footer */
  .footer {
    width: 100%;
    height: 100%;
    padding: 150px 0 30px;
    text-align: center;
    background-color: $bgColor;

    .title {
      @include enTitle(50px, 800, $mainTextColor);
      margin-bottom: 20px;
    }

    .text {
      @include koText(18px, 400);
      margin-bottom: 50px;
    }

    .btnWrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 80px;

      .btn {
        display: grid;
        justify-content: center;

        a {
          @include btn($mainColorW, $mainTextColor);
          border: 1px solid $mainColorW;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .footerBotton {
      .logo {
        margin: 0 auto 30px;
        width: 150px;

        img {
          width: 100%;
        }
      }

      .linkWrapper {
        display: flex;
        justify-content: center;
        gap: 50px;

        li {
          a {
            transition: 0.3s;
            @include enTitle(15px, 500, $mainColorB);

            &:hover {
              color: $mainTextColor;
            }
          }
        }
      }
    }
  }

}